  .userForm {
   text-align: center;
   background-color: aqua;
   color: black;
   border-radius: 10px;
   height: auto;
   width: auto;
   margin: 0;
   font-weight: bolder;
   box-shadow: rgba(236, 229, 229, 0.4) 0px 30px 90px;
  }
  
  .formInput {
    margin: 1rem;
    height: 2rem;
    border-radius: 5px;
  }
  
  .formInput:hover {
    margin-right: 10px;
    background-color: bisque;
    transition: margin-right all;
  }
  
  .submit {
   font-weight: bolder;
   padding: 5px;
   background-color: teal;
   border-radius: 5px;
  }
  
  .submit:hover {
    background-color: black;
    color: aliceblue;
    margin-right: 10px;
    transition: margin-right all;
  }
  
  .form-check {
    font-weight: bolder;
  }